body {

    background-image: url('WebsiteBG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html,body {
    background-color: lightgrey;
    margin: auto;
    padding: 0;
}
.pop {
    background-color: rgba(0,0,0,0.6);;
    padding: 20px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 700px;
    height: 750px;
    display: inline-block;

}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.image{
    width: 900px;
    height: 600px;
    
}
.box{
    background-color: rgba(0,0,0,0.6);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: auto;
    max-width: 400px;
    max-height: 500px;
    display: inline-block;
    
}
.button{
    color: black;
    background-color: lightgray;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
}
.wrapper {
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalcontent{
    position: relative;
    background: #fff;   
    width: 500px;
    max-width: 90%;
    padding: 1em 2em;
    border-radius: 4px;
    justify-content: center;

}
.labelLeft{
    text-align: right;
}