.image{
    position: relative;
    width: 100%;;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #ffffff ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay:hover{
    opacity: 1;
}
.image__title{
    font-size: 1.25em;
    margin-top: 0.25em;
}

body {
    background-image: url('WebsiteBG1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 } 


.nav-item{
    color: white;
}
.btn-2{
    width: 80px;
    height: 30px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f77a37 ;
    transition: ease-out 0.3s;
    outline :none;
}
.btn-2:hover{
    box-shadow: inset 150px 0 0 0 #f77a37  ;
    cursor: pointer;
}