.LoginButton {
    display: flex;
    align-items: right;
    justify-content: right;
}
.PromotionBanner .Promotion1 .Content1{
    flex:1 1 250px;
    text-align: left;
    padding:10px;
    text-transform: uppercase;
}
.PromotionBanner .Promotion2 .Content2{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
.PromotionBanner .Promotion3 .Content3{
    flex:1 1 250px;
    text-align: right;
    padding:10px;
    text-transform: uppercase;
}
.PromotionBanner .Promotion1{
    background:linear-gradient(-55deg, #62516d 29%, #222222 29.1%, #222222 68%, #62516d 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #CCCCCC;
    overflow: hidden;
    color:#FFFFFF;
}
.PromotionBanner .Promotion2{
    background:linear-gradient(-55deg, #62516d 29%, #222222 29.1%, #222222 68%, #62516d 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #CCCCCC;
    overflow: hidden;
    color:#FFFFFF;
}
.PromotionBanner .Promotion3{
    background:linear-gradient(-55deg, #62516d 29%, #222222 29.1%, #222222 68%, #62516d 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #CCCCCC;
    overflow: hidden;
    color:#FFFFFF;
}
.PromotionBanner{
    display: flex;
    align-items: left;
    justify-content: left;
}
.ForMember{
    display: flex;
    align-items: left;
    justify-content: left;
}
.ForMember .MemberPro1 {
    background:linear-gradient(-55deg, #62516d 29%, #222222 29.1%, #222222 68%, #62516d 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    color:#FFFFFF;
}
.ForMember .MemberPro2 {
    background:linear-gradient(-55deg, #62516d 29%, #222222 29.1%, #222222 68%, #62516d 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    color:#FFFFFF;
}
.ForMember .MemberPro3 {
    background:linear-gradient(-55deg, #62516d 29%, #222222 29.1%, #222222 68%, #62516d 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    color:#FFFFFF;
}
.ForMember .MemberPro1 .Procontent1{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
.ForMember .MemberPro2 .Procontent2{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
.ForMember .MemberPro3 .Procontent3{
    flex:1 1 250px;
    text-align: left;
    padding:10px;
    text-transform: uppercase;
}
.PromotionBanner .Promotion1 .Content1 .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #f77a36;
    color:#FFFFFF;
    margin:5px auto;
    text-decoration: none;
}
.PromotionBanner .Promotion1 .Content1{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
body {

    background-image: url('WebsiteBG1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav-item{
    color: #FFFFFF;
}
.image{
    position: relative;
    width: 100%;;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #ffffff ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay:hover{
    opacity: 1;
}
.image__title{
    font-size: 1.25em;
    margin-top: 0.25em;
}
.Promotion {
    color: #ffffff ;
}
.F1 {
    color: #ffffff ;
}
.ForMember .MemberPro1 .Procontent1 .btnFM1{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #f77a36;
    color:#FFFFFF;
    margin:5px auto;
    text-decoration: none;
}
.ForMember .MemberPro2 .Procontent2 .btnFM2{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #f77a36;
    color:#FFFFFF;
    margin:5px auto;
    text-decoration: none;
}
.ProFM1 {
    background:linear-gradient(-55deg, #62516d 29%, #222222 29.1%, #222222 68%, #62516d 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    color:#FFFFFF;
   
}
.ProFM1 .Detail {
    flex:1 1 250px;
    text-align: left;
    padding:10px;
    text-transform: uppercase;
}
.ProFM1 .Detail .btnCFM1 {
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #f77a36;
    color:#FFFFFF;
    margin:5px auto;
    text-decoration: none;
    text-align: center;
}
h1{
    font-size: 1.5em;
    color: #222;
  }
  h2{font-size: 5em;}
  h3{
    font-size: 4em;
    font-weight: 300;
    line-height: 2em;
  }
  p{
    font-size: 1.5em;
    color: rgb(249, 244, 244);
    line-height: 1.2em;
  }