.LoginButton {
    display: flex;
    align-items: right;
    justify-content: right;
}
.PromotionBanner .Promotion1 .Content1{
    flex:1 1 250px;
    text-align: left;
    padding:10px;
    text-transform: uppercase;
}
.PromotionBanner .Promotion2 .Content2{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
.PromotionBanner .Promotion3 .Content3{
    flex:1 1 250px;
    text-align: right;
    padding:10px;
    text-transform: uppercase;
}
.PromotionBanner .Promotion1{
    background:rgb(0,0,0,0.7);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #CCCCCC;
    overflow: hidden;
    color:#FFFFFF;
}


.PromotionBanner{
    display: flex;
    align-items: left;
    justify-content: left;
}
.ForMember{
    display: flex;
    align-items: left;
    justify-content: left;
}
.ForMember .MemberPro1 {
    background:rgb(0,0,0,0.7);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px rgb(255, 255, 255);
    overflow: hidden;
    color:#FFFFFF;
}
.ForMember .MemberPro1 .Procontent1{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
.PromotionBanner .Promotion1 .Content1 .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #f77a36;
    color:#FFFFFF;
    margin:5px auto;
    text-decoration: none;
}
.PromotionBanner .Promotion1 .Content1{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('WebsiteBG1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav-item{
    color: #FFFFFF;
}
.image{
    position: relative;
    width: 100%;;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #ffffff ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay:hover{
    opacity: 1;
}
.image__title{
    font-size: 1.25em;
    margin-top: 0.25em;
}
.Promotion {
    color: #ffffff ;
}
.F1 {
    color: #ffffff ;
}
.ForMember .MemberPro1 .Procontent1 .btnFM1{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #f77a36;
    color:#FFFFFF;
    margin:5px auto;
    text-decoration: none;
}
.ProFM1 {
    align-items: center;
    max-width: 50%;
    background:rgb(0,0,0,0.7);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px rgb(255, 255, 255);
    overflow: hidden;
    color:#FFFFFF;
   
}
.ProFM1 .Detail {
    
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}
.Detail .btnCFM1 {
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #f77a36;
    color:#FFFFFF;
    margin:5px auto;
    text-decoration: none;
    text-align: center;
}
h1{
    font-size: 1.5em;
    color: #FFFFFF;
  }
  h2{font-size: 3em;}
  h3{
    font-size: 2em;
    font-weight: 300;
    line-height: 2em;
  }
  p{
    font-size: 1.5em;
    color: rgb(249, 244, 244);
    line-height: 1.2em;
  }
  .btn-1,.btn-2{
    font-size: 20px;
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f77a37 ;
    transition: ease-out 0.3s;
    outline :none;

  }
  .btn-1:hover, .btn-2:hover{
    
    box-shadow: inset 100px 0 0 0 #f77a37  ;
    cursor: pointer;
  }
  .btn-3{
    font-size: 18px;
    width: 130px;
    height: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f77a37 ;
    transition: ease-out 0.3s;
    outline :none;

  }
  .btn-3:hover{
    box-shadow: inset 130px 0 0 0 #f77a37  ;
    cursor: pointer;
  }





  #slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }